---
layout: default
---

<div class="home">

  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
  <h1 class="page-heading" ><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date | date_to_string }}</span>
  </p>
  <div class="content">
    {{ post.excerpt | markdownify }}
    <hr>
  </div>
  {% endfor %}

  <!-- Pagination links -->

  <nav>
    <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous"><a href="{{ paginator.previous_page_path }}"><span aria-hidden="true">&larr;</span> Newer</a>
      </li>
      {% else %}
      <li class="previous disabled"><a><span aria-hidden="true">&larr;</span> Newer</a></li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next"><a href="{{ paginator.next_page_path }}">Older <span aria-hidden="true">&rarr;</span></a></li>
      {% else %}
      <li class="next disabled"><a href="{{ paginator.next_page_path }}">Older <span aria-hidden="true">&rarr;</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>