<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <a class="navbar-brand" href="/">
        {{ site.name }}
      </a>
      <a class="navbar-text" target="_blank"
        href="https://github.com/peteretep/cv/blob/programming/peter_armstrong_resume_programming.pdf">Programming
        CV</a>
      <a class="navbar-text" target="_blank"
        href="https://github.com/peteretep/cv/blob/master/peter_armstrong_resume.pdf">General CV</a>

      <a class="navbar-text navbar-right" target="_blank" href="https://twitter.com/peteretepeter">
        <i class="fab fa-twitter fa-lg"></i>
      </a>
      <a class="navbar-text navbar-right" target="_blank" href="https://github.com/peteretep">
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a class="navbar-text navbar-right" target="_blank" href="https://gitlab.com/peteretep">
        <i class="fab fa-gitlab fa-lg"></i>
      </a>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        {{ content }}
      </div>
      <div class="col-md-3">
        {% include about.html %}
      </div>
    </div>
  </div>

</body>

</html>